@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.font_paytone{
  font-family: 'Paytone One',sans-serif;
}

.w-38{
  width: 38%;
}

.w-63 {
  width: 63%;
}

.hint_text {
  @apply text-sm -mt-2 mb-2 text-red_x;
}

.base_btn {
  @apply w-full border-2 text-center p-4 rounded-lg h-14 text-white font-semibold;
}

.blue_btn {
  @apply bg-blue_x shadow-btn border-black_x;
}

.disable_btn{
  @apply bg-gray_s border-gray_xxs;
}

.base_input {
  @apply w-full border-2 border-black_x py-4 px-6 mb-4 h-12;
}

.base_select {
  @apply appearance-none block bg-white bg-clip-padding bg-no-repeat border-2 border-black_x py-2 px-4 transition ease-in-out focus:bg-white focus:outline-none;
}

.base_circle {
  @apply border-2 border-black_x rounded-full;
}

.no_border_circle{
  @apply w-10 h-10 bg-brown_x rounded-full ;
}

.post-item {
  @apply bg-white border-2 border-black_x rounded-lg shadow-post;
}

.base_title_box {
  @apply bg-white border-2 border-black_x p-4 text-center text-xl font-extrabold mb-8; 
}

.base_title_box::before{
  content: '';
  width: 100%;
  height: 64px;
  border: 2px solid;
  background: white;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: -2;
}